<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-init-method="init">
	
	<bean id = "sqlMapClient" class = "org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name = "configLocation" value = "/com/resource/SqlMapConfig.xml" />
		<property name = "dataSource" ref = "dataSource" />
	</bean>
	
	<bean id = "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name = "driverClassName" value = "oracle.jdbc.driver.OracleDriver" />
		<property name = "url" value = "jdbc:oracle:thin:@192.10.10.253:1521:TRNG" />
		<property name = "username" value = "HR" />
		<property name = "password" value = "HR" />
	</bean>
	
	<!-- @module: USER MAINTENANCE -->
	<!-- @author: ABANTE           -->
	<bean id = "userDao" class = "com.dao.impl.UserDaoImpl" depends-on = "sqlMapClient">
		<property name = "sqlMapClient" ref = "sqlMapClient"></property>
	</bean>
	
	<bean id = "userService" class = "com.service.impl.UserServiceImpl" depends-on = "userDao">
		<property name = "userDao" ref = "userDao" />
	</bean>
	
	<!-- @module: SUPPLIES MAINTENANCE -->
	<!-- @author: MAGSINO              -->
	<bean id = "suppliesDao" class = "com.dao.impl.SuppliesDaoImpl" depends-on = "sqlMapClient">
		<property name = "sqlMapClient" ref = "sqlMapClient"></property>
	</bean>
	
	<bean id = "suppliesService" class = "com.service.impl.SuppliesServiceImpl" depends-on = "suppliesDao">
		<property name = "suppliesDao" ref = "suppliesDao" />
	</bean>
	
	<!-- @module: SUPPLIES TYPE MAINTENANCE -->
	<!-- @author: MARCO                     -->
	<bean id = "supplyTypesDao" class = "com.dao.impl.SupplyTypesDaoImpl" depends-on = "sqlMapClient">
		<property name = "sqlMapClient" ref = "sqlMapClient"></property>
	</bean>
	
	<bean id = "supplyTypesService" class = "com.service.impl.SupplyTypesServiceImpl" depends-on = "supplyTypesDao">
		<property name = "supplyTypesDao" ref = "supplyTypesDao" />
	</bean>
	
	<!-- @module: LOGIN MODULE -->
	<!-- @author: EMMAN        -->
	<bean id = "homepageDao" class = "com.dao.impl.HomepageDaoImpl" depends-on = "sqlMapClient">
		<property name = "sqlMapClient" ref = "sqlMapClient"></property>
	</bean>
	<bean id = "homepageService" class = "com.service.impl.HomepageServiceImpl" depends-on = "homepageDao">
		<property name = "homepageDao" ref = "homepageDao" />
	</bean>
	
	<!-- @module: STOCKS MODULE -->
	<!-- @author: JAKE          -->
	 <bean id = "stocksDao" class = "com.dao.impl.StocksDaoImpl" depends-on = "sqlMapClient">
		<property name = "sqlMapClient" ref = "sqlMapClient"></property>
	</bean>
	<bean id = "stocksService" class = "com.service.impl.StocksServiceImpl" depends-on = "stocksDao">
		<property name = "stocksDao" ref = "stocksDao" />
	</bean> 
	
	
	<bean id = "supplyIssuanceDao" class = "com.dao.impl.SupplyIssuanceDaoImpl" depends-on = "sqlMapClient">
		<property name = "sqlMapClient" ref = "sqlMapClient"></property>
	</bean>
	
	<bean id = "supplyIssuanceService" class = "com.service.impl.SupplyIssuanceServiceImpl" depends-on = "supplyIssuanceDao">
		<property name = "supplyIssuanceDao" ref = "supplyIssuanceDao" />
	</bean>
</beans>